body {
	font-family: arial, sans-serif, verdana;
	font-size: 1em;
}
#links {
	float: left;
}

#links ul {
	list-style-type:  none;
}
#player {
	border: 0;
}
#videos {
	float: left;
}
#videos ul {
	list-style-type: none;
}
#videos ul li {
	margin-bottom: .5em;
}
#vidplay {
	float: right;
	width: 650px;
}
#footer {
	clear: both;
	text-align: center;
}
button {
	display: none;
}
.highlighted {
	background-color: #CCC;
	color: #3399FF;
	font-weight: bold;
}